.content {
  padding: 1rem;
}

label {
  margin-bottom: 0;
}

.display-value {
  font-weight: bold;
  padding: 0.1rem 0.3rem;
  margin-left: 0.4rem;
  border-radius: 5px;
  font-size: 0.7rem;
  color: #ffffff;
}

.bg-sc {
  background-color: #17a2b8;
}

.bg-discount {
  background-color: #ffc107;
}
