<div class="content">
  <ng-container *ngIf="itemTemplateView">
    <ng-template #itemTemplate let-item="item" let-onCollapseExpand="onCollapseExpand"
      let-onCheckedChange="onCheckedChange">
      <div class="form-inline row-item">
        <i *ngIf="item.children" (click)="onCollapseExpand()" aria-hidden="true" class="fa-solid mr-2"
          [class.fa-caret-right]="item.collapsed" [class.fa-caret-down]="!item.collapsed"></i>
        <i *ngIf="!item.children" (click)="onCollapseExpand()" aria-hidden="true" style="padding-left: 17px;"></i>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" [(ngModel)]="item.checked" (ngModelChange)="onCheckedChange()"
            [disabled]="item.disabled" [indeterminate]="item.indeterminate" />
          <label class="form-check-label" (click)="item.checked = !item.checked; onCheckedChange()">
            {{item.text}}
          </label>
        </div>
      </div>
    </ng-template>
    <ngx-treeview #tree [config]="config" [items]="nodes" [itemTemplate]="itemTemplate"
      (selectedChange)="onSelectedChange($event)" (filterChange)="onFilterChange($event)" [eventParser]="eventParser">
    </ngx-treeview>
  </ng-container>
  <ng-container *ngIf="!itemTemplateView">
    <ngx-treeview #tree [config]="config" [items]="nodes" (selectedChange)="onSelectedChange($event)"
      (filterChange)="onFilterChange($event)" [eventParser]="eventParser">
    </ngx-treeview>
  </ng-container>
</div>